.scroll-pane
{
    width: 100%;
    height: 500px;
    overflow: auto;
}

.scroll-table
{
    width: 600px;
    height: 600px;
    overflow: auto;
}

.scroll-field1
{
    padding-left: 25px;
    width: auto;
    overflow: auto;
}

.scroll-field2
{
    padding-left: 50px;
    width: auto;
    overflow: auto;
}

.scroll-field3
{
    padding-left: 75px;
    width: auto;
    overflow: auto;
}

.scroll-field4
{
    padding-left: 100px;
    width: auto;
    overflow: auto;
}

.scroll-field5
{
    padding-left: 125px;
    width: auto;
    overflow: auto;
}

.scroll-field6
{
    padding-left: 150px;
    width: auto;
    overflow: auto;
}

.scroll-field7
{
    padding-left: 175px;
    width: auto;
    overflow: auto;
}

.scroll-field8
{
    padding-left: 200px;
    width: auto;
    overflow: auto;
}